// 字型
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body{
    line-height: 1.5;
    font-family: "Roboto", "Noto Sans TC", Arial, sans-serif;
}

// 字型大小
$fs-0: 14px;
$fs-1: 16px;    // 預設
$fs-1a: 18px;
$fs-1b: 19px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 32px;
$fs-5: 36px;
$fs-5a: 40px;
$fs-6: 42px;
$fs-7: 48px;
$fs-8: 64px;

// 字重
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;