<header class="header">
    <div class="nav container-header d-flex items-center flex-sm-wrap">
        <div class="logo pt-4 pb-4 mr-auto pl-sm-3">
            <h1><a href="index.html" target="_blank">Glasses Website</a></h1>
        </div>
        <ul class="menu d-flex gap-16 gap-sm-0 flex-sm-wrap">
            <li><a class="pt-3 pb-3" href="product-1.html" target="_blank">系列鏡框</a></li>
            <li><a class="pt-3 pb-3" href="location.html" target="_blank">門市據點</a></li>
            <li><a class="pt-3 pb-3" href="blog.html" target="_blank">部落格</a></li>
            <li><a class="pt-3 pb-3" href="qa.html" target="_blank">常見問題</a></li>
        </ul>
    </div>
</header>