.btn{
    font-size: $fs-2;
    padding: 6px 12px;
    width: fit-content;
}
.btn-primary{
    color: $font-white;
    background-color: $primary;
    &:hover{
        background-color: $secondary;
    }
}

.form-btn{
    width: 66.66666%;
    margin: 0 auto;
    text-align: center;
    font-size: $fs-1;
}
@media (max-width:992px) {
    .form-btn{
        width: 60%;
    }
}
@media (max-width:576px) {
    .form-btn{
        width: 100%;
    }
}
