// 分頁
.pagination{
    .next{
        background-color: #F2F2F2;
    }
    .link-active{
        color: $font-white;
        background-color: #000;
    }
}


.pagination-link{
    font-size: $fs-1a;
    color: #555555;
    border: 1px solid #555555;
    @include mobile{
        font-size: $fs-1;
    }
    &:hover{
        color: $font-white;
        background-color: #000;
    }
}