.footer{
    background-color: $bg-primary;
    color: $font-white;
}

.footer-info{
    border-bottom: 1px solid #FFF;
}
.footer-menu{
    li{
        a{
            color: $font-white;
            &:hover{
                color: $font-hover;
            }
        }
    }
}
@media (max-width:767px) {
    .footer-menu{
        display: none;
    }
}

.social-list{
    li{
        img{
            width: 48px;
            height: 48px;
            cursor: pointer;
        }
    }
}
@media (max-width:992px) {
    .social-list{
        li{
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}
@media (max-width:767px) {
    .social-list{
        li{
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
}


.contact-info{
    font-size: $fs-5;
    color: $font-white;
    .material-symbols-outlined{
        display: inline-block;
        font-size: $fs-7;
        vertical-align: middle;
    }
    &:hover{
        font-weight: $fw-bold;
    }
}
@media (max-width:767px) {
    .contact-info{
        font-size: $fs-1;
        .material-symbols-outlined{
            font-size: $fs-3;
        }
    }    
}





.policy-list{
    li{
        a{
            color: $font-white;
            &:hover{
                color: $font-hover;
            }
        }
    }
}