// 變數宣告

// 顏色
$primary:#AA0601;
$secondary:#650300;
$light-gary: #DEE2E6;

// 文字顏色
$font-primary:$primary;
$font-secondary:$secondary;
$font-white: #fff;
$font-dark-gray: #707070;
$font-hover: #F5BB00;

// 背景顏色
$bg-primary: $primary;
$bg-secondary: #FBF2F2;
$bg-white: #fff;

// 字形大小
$fs-0: 14px;
$fs-1: 16px;    // 預設
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 36px;
$fs-5: 48px;
$fs-6: 64px;



